
#main-content.tilt #content-front{
		-webkit-transform: rotate(9deg) translateZ(0);
  		transform: rotate(9deg) translateZ(0);
}

@media screen and (max-width:1366px){
	#main-content.tilt #content-front{
		-webkit-transform: rotate(12deg) translateZ(0);
  		transform: rotate(12deg) translateZ(0);
	}
}
@media screen and (max-width:1280px){
	#main-content.tilt #content-front{
		-webkit-transform: rotate(9deg) translateZ(0);
  		transform: rotate(9deg) translateZ(0);
	}
}