#main-content.tilt #content-front {
  -webkit-transform: rotate(4deg) translateZ(0);
  transform: rotate(4deg) translateZ(0);
}
@media screen and (max-width:1366px){
	#main-content.tilt #content-front{
		-webkit-transform: rotate(2deg) translateZ(0);
  		transform: rotate(2deg) translateZ(0);
	}
}
@media screen and (max-width:1024px) and (max-height: 768px){
		#main-content.tilt #content-front{
			-webkit-transform: rotate(6deg) translateZ(0);
			transform: rotate(6deg) translateZ(0);
		}
	}
@media screen and (max-width:1024px) and (max-height: 601px){
	#main-content.tilt #content-front{
		-webkit-transform: rotate(4deg) translateZ(0);
		transform: rotate(4deg) translateZ(0);
	}
}
